In [2]:
import re
import pandas as pd
import numpy as np

In [ ]:
import re

# Read the file line by line and split using regex
with open('./../votematrix-2024.dat.txt', 'r', encoding='utf-8') as f:
    lines = f.readlines()

# Tokenize each line using regex to split on 2+ spaces or tabs
parsed_data = [re.split(r'\s{2,}|\t+', line.strip()) for line in lines]

# First row is the header
header = parsed_data[0]
data = parsed_data[1:]

# Create a DataFrame
df = pd.DataFrame(data, columns=header)

df.to_csv('./../votematrix-2024-processed.csv')

In [3]:
with open('mp2024-parties.txt', 'r', encoding='utf-8') as f:
    lines = f.readlines()

parsed_data = [re.split(r'\s{2,}|\t+', line.strip()) for line in lines]

y_df = pd.DataFrame(parsed_data, columns=['mpid','fname','sname','party','url'])

y_df.to_csv('./mp2024_parties_raw.csv')

In [4]:
y_df.head()

,mpid,fname,sname,party,url
0,42976,Diane,Abbott,Lab,https://www.publicwhip.org.uk/mp.php?mpid=42976
1,42945,Jack,Abbott,Lab,https://www.publicwhip.org.uk/mp.php?mpid=42945
2,43136,Debbie,Abrahams,Lab,https://www.publicwhip.org.uk/mp.php?mpid=43136
3,42904,Shockat,Adam,Independent,https://www.publicwhip.org.uk/mp.php?mpid=42904
4,43143,Zubir,Ahmed,Lab,https://www.publicwhip.org.uk/mp.php?mpid=43143

In [5]:
y_df = y_df[['mpid', 'party']]

In [6]:
y_df['party'].value_counts()

party
Lab                           411
Con                           121
LDem                           72
Independent                    14
SNP                             9
DUP                             5
Reform UK                       5
PC                              4
Green                           4
SDLP                            2
Traditional Unionist Voice      1
Alliance                        1
UUP                             1
Name: count, dtype: int64

In [24]:
y_df.head()

    mpid        party
0  42976          Lab
1  42945          Lab
2  43136          Lab
3  42904  Independent
4  43143          Lab

In [7]:
y_df.isna().sum(axis=0)

mpid     0
party    0
dtype: int64

In [8]:
df = pd.read_csv('votematrix-2024-processed.csv', sep=",")
df.head()

,Unnamed: 0,rowid,date,voteno,Bill,mpid42782,mpid42783,mpid42784,mpid42785,mpid42786,...,mpid43430,mpid43431,mpid43432,mpid43433,mpid43434,mpid43435,mpid43436,mpid43437,mpid43438,mpid43439
0,0,38937.0,2025-05-22,206.0,Data (Use and Access) Bill [Lords] - Before Cl...,2.0,-9.0,2.0,-9.0,-9.0,...,4.0,-9.0,-9.0,4.0,-9.0,-9.0,-9.0,-9.0,4.0,4.0
1,1,38935.0,2025-05-21,205.0,Immigration,4.0,-9.0,4.0,4.0,-9.0,...,2.0,-9.0,-9.0,4.0,-9.0,-9.0,-9.0,-9.0,4.0,4.0
2,2,38936.0,2025-05-21,204.0,Business and the Economy,-9.0,-9.0,4.0,4.0,-9.0,...,2.0,-9.0,-9.0,4.0,4.0,-9.0,-9.0,-9.0,4.0,4.0
3,3,38932.0,2025-05-16,203.0,Terminally Ill Adults (End of Life) Bill - New...,2.0,-9.0,4.0,4.0,-9.0,...,2.0,2.0,2.0,2.0,2.0,-9.0,2.0,-9.0,2.0,4.0
4,4,38931.0,2025-05-16,202.0,Terminally Ill Adults (End of Life) Bill - New...,4.0,-9.0,2.0,2.0,-9.0,...,4.0,4.0,4.0,4.0,4.0,-9.0,4.0,-9.0,4.0,2.0

In [9]:
df = df.iloc[:,5:]

In [10]:
df = df.T

In [11]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,197,198,199,200,201,202,203,204,205,206
mpid42782,2.0,4.0,-9.0,2.0,4.0,-9.0,-9.0,-9.0,-9.0,-9.0,...,-9.0,-9.0,-9.0,2.0,-9.0,4.0,4.0,4.0,-9.0,NaN
mpid42783,-9.0,-9.0,-9.0,-9.0,-9.0,2.0,2.0,2.0,2.0,2.0,...,4.0,4.0,4.0,2.0,2.0,4.0,-9.0,4.0,4.0,NaN
mpid42784,2.0,4.0,4.0,4.0,2.0,2.0,2.0,2.0,-9.0,2.0,...,4.0,4.0,4.0,2.0,2.0,4.0,4.0,4.0,4.0,NaN
mpid42785,-9.0,4.0,4.0,4.0,2.0,-9.0,-9.0,-9.0,-9.0,-9.0,...,4.0,4.0,4.0,2.0,2.0,4.0,4.0,4.0,4.0,NaN
mpid42786,-9.0,-9.0,-9.0,-9.0,-9.0,2.0,2.0,2.0,2.0,2.0,...,4.0,4.0,4.0,2.0,2.0,4.0,4.0,4.0,4.0,NaN

In [12]:
df.replace({
    3: np.nan,   # 'both' → NaN
    -9: np.nan,  # 'missing' → NaN
    5: 0,        # 'tellno' → 0
    4: 0,        # 'no' → 0
    1: 1,        # 'tellaye' → 1
    2: 1         # 'aye' → 1
}, inplace=True)

In [13]:
df = df.reset_index()
df.rename(columns={'index':'mpid'},inplace=True)
df['mpid'] = df['mpid'].str.replace('mpid', '', regex=False).astype(int)
df.head()

,mpid,0,1,2,3,4,5,6,7,8,...,197,198,199,200,201,202,203,204,205,206
0,42782,1.0,0.0,NaN,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,0.0,0.0,0.0,NaN,NaN
1,42783,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,NaN,0.0,0.0,NaN
2,42784,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,NaN,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN
3,42785,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN
4,42786,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN

In [14]:

df['mpid'] = df['mpid'].astype(int)
y_df['mpid'] = y_df['mpid'].astype(int)
merged_df = pd.merge(df, y_df, on='mpid', how='left')

In [15]:
merged_df['party'].value_counts()

party
Lab                           411
Con                           121
LDem                           72
Independent                    14
SNP                             9
Reform UK                       5
DUP                             5
Green                           4
PC                              4
SDLP                            2
Alliance                        1
UUP                             1
Traditional Unionist Voice      1
Name: count, dtype: int64

In [16]:
merged_df = merged_df[merged_df['party'].map(merged_df['party'].value_counts()) > 2]

In [17]:
merged_df['party'].value_counts()

party
Lab            411
Con            121
LDem            72
Independent     14
SNP              9
Reform UK        5
DUP              5
PC               4
Green            4
Name: count, dtype: int64

In [49]:
merged_df.head()

,mpid,0,1,2,3,4,5,6,7,8,...,198,199,200,201,202,203,204,205,206,party
0,42782,1.0,0.0,NaN,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,0.0,0.0,0.0,NaN,NaN,Lab
1,42783,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,...,0.0,0.0,1.0,1.0,0.0,NaN,0.0,0.0,NaN,Lab
2,42784,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,NaN,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN,Lab
3,42785,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN,Lab
4,42786,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN,Lab

In [52]:
y =  pd.Categorical(merged_df['party']).codes
X = merged_df.drop(columns=['party','mpid'])

In [53]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,197,198,199,200,201,202,203,204,205,206
0,1.0,0.0,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,0.0,0.0,0.0,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,NaN,0.0,0.0,NaN
2,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,NaN,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN
3,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN
4,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN

In [54]:
merged_df.nunique()

mpid     645
0          2
1          2
2          2
3          2
        ...
203        2
204        2
205        2
206        0
party      9
Length: 209, dtype: int64

In [55]:
np.save('./../Datasets/Bernoulli/Processed/MP2024/X_mp2024.npy', X)
np.save('./../Datasets/Bernoulli/Processed/MP2024/y_mp2024.npy', y)